/* industrial-b2b */
/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700;800&family=Barlow:wght@400;500;700&display=swap');
/* Basic types */
body, .preview {
/* Base */
--dw-base-font-size: 15px;
--dw-type-scale: 1.2;
/* Paragraphs */
--dw-font-family: Barlow;
--dw-font-style: normal;
--dw-font-weight: 400;
--dw-letter-spacing: 0em;
--dw-line-height: 1.5;
--dw-text-transform: none;
}
/* Headings */
h1, h2, h3, h4, h5, h6, .dw-h1, .dw-h2, .dw-h3, .dw-h4, .dw-h5, .dw-h6 {
--dw-font-family: Barlow Condensed;
--dw-font-weight: 700;
--dw-letter-spacing: 0.04em;
--dw-line-height: 1.05;
--dw-text-transform: uppercase;
}
/* Buttons */
[data-dw-button] {
--dw-font-family: Barlow;
--dw-font-weight: 700;
--dw-letter-spacing: 0.06em;
--dw-line-height: 1.2;
--dw-text-transform: uppercase;
}
